.scrollableContainer {
    position: relative;
    overflow: hidden;
}
.scrollableContainer .headerSpacer {
    border: 1px solid #d5d5d5;
    border-bottom-color: #bbb;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.scrollableContainer th .orderWrapper {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
.scrollableContainer th .orderWrapper .order {
    font-size: 8pt;
    color: #BDBDBD;
}
.scrollableContainer th .orderWrapper .active {
    color: #464646;
}

.scrollArea table tbody {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
.scrollArea {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #d5d5d5;
    /*  the implementation of this is still quite buggy; specifically, it doesn't like the
        absolutely positioned headers within
    -webkit-overflow-scrolling: touch;  */
    -webkit-overflow-scrolling: auto;
}
.scrollArea table {
    overflow-x: auto;
    overflow-y: auto;
    display: table;
    margin-bottom: 0;
    width: 100%;
    border: none;
}
.scrollArea table th {
    padding: 0 !important;
    border: none !important;
    min-width: 40px;
}

.scrollArea table .th-inner-header {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0px!important;
    height: 32px;
    line-height: 32px;
    border-right: 1px solid #ddd;
}

.scrollArea table .th-inner {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 30px;
    height: 52px;
    z-index: 1;
    padding: 8px;
}

.scrollArea table .th-inner .ng-scope {
    overflow: hidden;
    text-overflow: ellipsis;
}
.scrollArea table tr th:first-child th .box {
    border-left: none;
}
.scrollArea table .th-inner.condensed {
    padding: 0 3px;
}
.scrollArea table tbody tr td:first-child {
    border-left: none;
}
.scrollArea table tbody tr td:last-child {
    border-right: none;
}
.scrollArea table tbody tr:first-child td {
    border-top: none;
}
.scrollArea table tbody tr:last-child td {
    border-bottom: 2px solid #ddd;
}

.scrollableContainer .scaler {
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    background-color: #CFCFCF;
}

.scrollableContainer th .resize-rod {
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    width: 4px;
    height: 100%;
}

.scrollable-resizing .scrollableContainer {
    cursor: col-resize;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.align-left {
     text-align: left;
}