<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Angular-scrollable-table directive demo</title>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">
    <link href='../scrollable-table.css' rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
        margin: 20px;
      }

      .scrollableContainer {
         margin: 20px 0;
      }
    </style>
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.19/angular.min.js"></script>
    <script type="text/javascript" src="../angular-scrollable-table.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="myApp">
    <div ng-controller="MyCtrl" class="test-container">
      <div>Hover over a header border to resize the column.</div>
      <scrollable-table watch="visibleProjects">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
               <th sortable-header col="facility" data-width="20%">Facility</th>
               <th sortable-header col="code" data-width="20%">Unit code</th>
               <th sortable-header col="cost" data-width="10%">Cost</th>
               <th sortable-header col="conditionRating" data-width="20%">Condition score</th>
               <th ng-show="toggleColumn" col="extent" data-width="20%">Not sortable</th>
               <th sortable-header col="planYear" comparator-fn="comparator" data-width="10%">Plan year</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="response in visibleProjects" row-id="{{ response.facility }}" 
                ng-class="{info: selected == response.facility}" >
              <td>{{ response.facility }}</td>
              <td>{{ response.code }}</td>
              <td>{{ response.cost }}</td>
              <td class="cr">{{ response.conditionRating }}</td>
              <td ng-show="toggleColumn" >{{ response.extent }}</td>
              <td>{{ response.planYear }}</td>
            </tr>
          </tbody>
        </table>
      </scrollable-table>
      <div>
        <label>Select a facility:</label>
        <select ng-model="selected" ng-options="f for f in facilities"></select>
      </div>
      <div style="margin-top: 20px">
        <button class="btn btn-primary" type="button" ng-click="changeRecord()">Change record</button>
        <button class="btn btn-default" type="button" ng-click="replaceRecords()">Undo change</button>
        <button class="btn btn-default" type="button" ng-click="toggleCol()">Show/hide column</button>
      </div>
    </div>
  </body>
</html>

